@import "./imports.scss";
@import "./_type.scss";

header {
  height: #{$headerHeight}px;
}

.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero {
  z-index: 2;
  width: 100%;
  background-color: $primaryBlue;
}

[class^="container"],
.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.container--med {
  @media only screen and (min-width: $md) {
    width: 80%;
  }

  @media only screen and (min-width: $lg) {
    width: 75%;
  }
}

.container--small {
  @media only screen and (min-width: $md) {
    width: 80%;
  }

  @media only screen and (min-width: $lg) {
    width: 75%;
  }

  @media only screen and (min-width: $lg) {
    width: 60%;
  }
}

.container--only-lg {
  @media only screen and (max-width: $lg) {
    width: 100%;
  }
}

.container--narrow {
  max-width: 800px;
}
