@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-6xl;
  font-family: "Heebo";
}

h3 {
  @apply text-4xl;
  font-family: "Heebo";
}

h4 {
  @apply text-3xl;
  font-family: "Heebo";
}

a {
  @apply text-blue-800 transition-colors duration-200;
}

a:hover {
  @apply text-blue-900;
}

p,
label,
input,
.select {
  @apply text-xl;
  font-family: "Roboto";
}

.select {
  @apply p-1 rounded-md my-2;
}

input,
.select {
  @apply w-full max-w-4xl;
}

p:not(:last-of-type) {
  @apply mb-4;
}

.question {
  @apply my-10;
}

.card {
  @apply w-full bg-gray-200 rounded-sm shadow-md px-8 py-10 my-10;
}

strong {
  @apply font-bold;
}

.react-datepicker__input-container input {
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}
