$blue: blue;
$red: red;

.result-bar {
  &.bar-0 {
    .bar-bg {
      fill: transparentize($blue, 0.8);
    }

    .bar-range {
      fill: $blue;

      &:hover {
        fill: darken($blue, 0.3);
      }
    }
  }

  &.bar-1 {
    .bar-bg {
      fill: transparentize($red, 0.8);
    }

    .bar-range {
      fill: $red;

      &:hover {
        fill: darken($red, 0.3);
      }
    }
  }

  circle {
    fill: black;
  }
}
